@import "tailwindcss";

@theme {
  --color-background-700: #1f2937;
  --color-background-800: #111827;
  --color-primary-500: #3b82f6;
  --color-secondary-600: #9333ea;
}

body {
  background-color: var(--color-background-800);
  color: white;
}

button,
button[type="submit"] {
  border-radius: 0.375rem;
  background-image: linear-gradient(to right, var(--color-primary-500), var(--color-secondary-600));
  padding: 0.5rem 1.5rem;
  color: black;
}

button:hover,
button[type="submit"]:hover {
  opacity: 0.5;
}

button:disabled,
button[type="submit"]:disabled {
  opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 0.375rem;
  border: 1px solid var(--color-background-700);
  background-color: var(--color-background-700);
  padding: 0.25rem 0.5rem;
  color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--color-primary-500);
}

.tutorial {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.tutorial-shorts {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}